<div>
	
	{{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button> --}}

    <button class="change-status btn btn-primary font-weight-bold text-uppercase" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}Delete!{{else}}Devour!{{/if}}
	</button>

    {{!-- <button class="devour-burger" data-id="{{this.id}}">devour!</button> --}}

    <button class="delete-burger btn btn-light text-primary font-weight-bold text-uppercase" data-id="{{this.id}}"><i class="fas fa-ban"></i></button>
</div>
