<tr>
	<td >
		{{id}}
	</td>
	<td>
		{{name}}
	</td>
	<td>

		<button class="change-status btn btn-primary font-weight-bold text-uppercase" data-id="{{id}}"
			data-newdevour="{{devour}}">
			{{#if devour}}Remake!{{else}}Devour!{{/if}}
		</button>
		{{!-- <button class="devour-burger" data-id="{{this.id}}">devour!</button> --}}

		<button class="delete-burger btn btn-light text-primary font-weight-bold text-uppercase"
			data-id="{{this.id}}"><i class="fas fa-ban"></i></button>
	</td>
</tr>